{% load tailwind_tags %}
{% load i18n %}
{% load static %}
<!doctype html>
<html lang="pt-br" class="h-full bg-slate-100 scroll-smooth">

<head>
  <meta charset="utf-8">
  <title>{% block head_title %}{% endblock %} Django SaaS Starter</title>
  <meta name="title" content="Combina.ai - Aplicativo de Agendamento Online Grátis"/>
  <meta name="description"
        content="Permita que clientes e convidados escolham horários vagos em sua agenda. A solução perfeita para autônomos e profissionais liberais!"/>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://combina.ai/"/>
  <meta property="og:title" content="Combina.ai - Aplicativo de Agendamento Online Grátis"/>
  <meta property="og:description"
        content="Permita que clientes e convidados escolham horários vagos em sua agenda. A solução perfeita para autônomos e profissionais liberais!"/>
  <meta property="og:image" content="{% static 'public/man-calendar.png' %}"/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content="https://combina.ai/"/>
  <meta property="twitter:title" content="Combina.ai - Aplicativo de Agendamento Online Grátis"/>
  <meta property="twitter:description"
        content="Permita que clientes e convidados escolham horários vagos em sua agenda. A solução perfeita para autônomos e profissionais liberais!"/>
  <meta property="twitter:image" content="{% static 'public/man-calendar.png' %}"/>

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}"/>
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}"/>
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}"/>
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}"/>
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}"/>
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}"/>
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}"/>
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}"/>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}"/>
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/android-icon-192x192.png' %}"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}"/>
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}"/>
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}"/>
  <link rel="manifest" href="{% static 'manifest.json' %}"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}"/>
  <meta name="theme-color" content="#ffffff"/>

  <!-- Main Stylesheet -->
  {% tailwind_preload_css %}
  {% tailwind_css %}

  <style>
      [x-cloak] {
          display: none;
      }
  </style>

  <!-- Inter web font -->
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

  <!-- Alpine.js -->
  <script defer src="https://unpkg.com/alpinejs@3.5.1/dist/cdn.min.js"></script>

  <!-- Day.js -->
{#  <script defer src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>#}
  {% include "misc/alerts.html" %}
  <script>
      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              let cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  let cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  </script>
</head>

<body class="antialiased text-slate-800 h-full">
<!-- Page Container -->
<div id="page-container" class="flex flex-col mx-auto w-full min-h-screen bg-slate-50">
  <!-- Page Header -->
  <header id="page-header" class="flex flex-col bg-white ring-1 ring-gray-900 ring-opacity-5 shadow-sm"
          x-data="{ userDropdownOpen: false, mobileNavOpen: false }">
    <div class="app-container">
      <div class="flex justify-between py-3">
        <!-- Left Section -->
        <div class="flex items-center">
          <!-- Logo -->
          {% include "icons/logo.html" %}
        </div>
        <!-- END Left Section -->

        <!-- Right Section -->
        <div class="flex items-center space-x-1 lg:space-x-5">
          <!-- Desktop Navigation -->
          <nav class="hidden lg:flex lg:items-center lg:space-x-2">
            {% if user.is_authenticated %}
              <a href="{% url 'dashboard:index' %}"
                 class="top-menu-item{% if "dashboard/" in request.resolver_match.route %}-active{% endif %} space-x-1.5">
                {% include "icons/home.html" %}
                <span>{% trans "Início" %}</span>
              </a>
              <a href="{% url 'appointments:index' %}"
                 class="top-menu-item{% if "appointments/" in request.resolver_match.route %}-active{% endif %} space-x-1.5">
                {% include "icons/calendar.html" %}
                <span>{% trans "Agendamentos" %}</span>
              </a>
              <a href="{% url 'calendars:index' %}"
                 class="top-menu-item{% if "calendars/" in request.resolver_match.route %}-active{% endif %} space-x-1.5">
                {% include "icons/open-book.html" %}
                <span>{% trans "Agendas" %}</span>
              </a>
              <a href="{% url 'users:index' %}"
                 class="top-menu-item{% if "account/" in request.resolver_match.route %}-active{% endif %} space-x-1.5">
                {% include "icons/user.html" %}
                <span>{% trans "Minha Conta" %}</span>
              </a>
              <a href="{% url 'account_logout' %}"
                 class="top-menu-item{% if request.resolver_match.route == "my_view_name" %}-active{% endif %} space-x-1.5 hover:text-red-500 active:bg-red-100 active:border-red-100">
                {% include "icons/logout.html" %}
                <span>{% trans "Sair" %}</span>
              </a>
            {% else %}
              <a href="/"
                 class="top-menu-item{% if request.resolver_match.url_name == "my_view_name" %}-active{% endif %}">
                <span>{% trans "How it Works" %}</span>
              </a>
              <a href="/"
                 class="top-menu-item{% if request.resolver_match.url_name == "my_view_name" %}-active{% endif %}">
                <span>{% trans "Features" %}</span>
              </a>
              <a href="/"
                 class="top-menu-item{% if request.resolver_match.url_name == "my_view_name" %}-active{% endif %}">
                <span>{% trans "Questions" %}</span>
              </a>
              <a href="/"
                 class="top-menu-item{% if request.resolver_match.url_name == "my_view_name" %}-active{% endif %}">
                <span>{% trans "Contact" %}</span>
              </a>
{#              <a href="{% url 'account_signup' %}" class="button button-md button-primary">#}
{#                {% trans "Sign Up" %}#}
{#              </a>#}
              <a href="{% url 'login' %}"
                 class="button button-md button-link-green active:bg-green-100 active:border-green-100">
                {% trans "Sign In" %}
              </a>
            {% endif %}
          </nav>
          <!-- END Desktop Navigation -->

          <!-- Toggle Mobile Navigation -->
          <div class="lg:hidden">
            <button
                    type="button"
                    class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-3 py-2 leading-6 rounded border-gray-300 bg-white text-gray-800 shadow-sm hover:text-gray-800 hover:bg-gray-100 hover:border-gray-300 hover:shadow focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-white active:border-white active:shadow-none"
                    x-on:click="mobileNavOpen = !mobileNavOpen"
            >
              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                   class="hi-solid hi-menu inline-block w-5 h-5">
                <path fill-rule="evenodd"
                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                      clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          <!-- END Toggle Mobile Navigation -->
        </div>
        <!-- END Right Section -->
      </div>

      <!-- Mobile Navigation -->
      <div x-show="mobileNavOpen" class="lg:hidden">
        <nav class="flex flex-col space-y-2 py-4 border-t">
          <a href="/"
             class="top-menu-item{% if request.resolver_match.url_name == "my_view_name" %}-active{% endif %}">
            <span>Home</span>
          </a>
          <a href="/"
             class="top-menu-item{% if request.resolver_match.url_name == "my_view_name" %}-active{% endif %}">
            <span>Profile</span>
          </a>
          <a href="/"
             class="top-menu-item{% if request.resolver_match.url_name == "my_view_name" %}-active{% endif %}">
            <span>Projects</span>
          </a>
          <a href="/"
             class="top-menu-item{% if request.resolver_match.url_name == "my_view_name" %}-active{% endif %}">
            <span>Settings</span>
          </a>
        </nav>
      </div>
      <!-- END Mobile Navigation -->
    </div>
  </header>

  <!-- Page Content -->
  <main id="page-content" class="flex flex-auto flex-col max-w-full">
    <!-- Page Section -->
    {% block content %}
      <div class="app-container main-content flex items-center justify-center rounded-xl bg-gray-50 border-2 border-dashed border-gray-200 text-gray-400 py-64">
        Content (max width 1280px)
      </div>
    {% endblock %}
    <!-- END Page Section -->
  </main>
  <!-- END Page Content -->

  <!-- Page Footer -->
  <footer id="page-footer"
          class="flex flex-none items-center bg-white mt-4 ring-1 ring-gray-900 ring-opacity-5 shadow-sm">
    <div class="text-center flex flex-col md:text-left md:flex-row md:justify-between text-sm app-container">
      <div class="pt-4 pb-1 md:pb-4">
        Combina.aí © 2021
      </div>
      <div class="pb-4 pt-1 md:pt-4 inline-flex items-center justify-center">
        <span>Criado com </span>
        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
             class="mx-1 text-red-600 hi-solid hi-heart inline-block w-4 h-4">
          <path fill-rule="evenodd"
                d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                clip-rule="evenodd"></path>
        </svg>
        <span> por <a href="https://combina.ai" class="font-medium text-green-600 hover:text-green-400"
                      target="_blank">Combina.aí</a></span>
      </div>
    </div>
  </footer>
</div>
<!-- END Page Container -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-201029535-1">
</script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-201029535-1');
</script>

</body>

</html>
